@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  header {
    @apply flex justify-between items-center p-6;
  }
  .cabecalho li {
    @apply m-5 inline-flex space-x-4 hover:text-slate-400 hover:text-opacity-55;
  }
  .rodape {
    @apply bg-transparent text-white container mx-auto flex justify-center mt-32 mb-0;
  }
  .rodape hr {
    @apply  bg-gray-300;
  }
  .home h1{
    @apply animate-slide-in-left bg-gradient-to-t from-violet-500 to-pink-400 bg-clip-text text-transparent text-4xl font-semibold mb-0;
  }
  .home p{
    @apply animate-slide-in-left text-xl mt-4 mb-0;
  }
  .home {
    @apply mt-40 space-x-4 flex flex-col justify-center items-center h-screen overflow-hidden text-left;
  }
  
  .sb {
    @apply   mt-8 bg-white text-black py-2 px-4 rounded-md hover:bg-slate-200;
  }
  .bntc {
    @apply mt-8 bg-slate-400 bg-opacity-20 text-white py-2 px-4 rounded-md hover:bg-white hover:bg-opacity-25;
  }
  .sobre img {
    @apply inline m-6;
  }
  .sobre h1 {
    @apply text-2xl font-semibold m-4;
  }
  .sobre p {
    @apply m-6;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
  }
}