@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  header {
    @apply flex justify-between items-center p-6 mb-0;
  }
  .cabecalho li {
    @apply mb-0 m-5 inline-flex space-x-4 hover:text-slate-400 hover:text-opacity-55;
  }
  .sobre img {
    @apply inline m-6 mt-0 animate-slide-in-left;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
  }
}